<!--pm_app/templates/login.html-->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.csrf_token }}
        {{ form.username.label }}: {{ form.username }}<br>
        {{ form.password.label }}: {{ form.password }}<br>
        {{ form.remember_me.label }}: {{ form.remember_me }}<br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <br>
    <p>Don't have an account yet? <a href="{{ url_for('main.register') }}" class="btn btn-primary">Register here</a>.
    </p>
</div>
{% endblock %}